@model Soccer.BLL.DTO.PlayerDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Label("Player:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Age:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Position:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.Label("Club:")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List of Players</a>
</p>
